div#about{
    padding: 10px 8%;
    width: 84%;
}

div#about > div{
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentAbout{
    width: 70%;
    font-size: 1.4rem;
}

#mision > div{
    text-align: right;
}

.imgAbout{
    width: 20%;
    min-width: 200px;
    margin: 0px auto;
}
.imgAbout > img{
    width: 92%;
    border-radius: 50%;
}